
font-family {

}

font-size {

}

background-color {

}

list-style {
    
}
 
a:link {
    
}

a:visited{
    
} 

a:hover {

} 

a:active{

}

/** we also need to add width, color, padding, margin along w. three other CSS attributes**/